.crayon-card-card {
  border: none;
  background: none;
  background-color: none;
  border-radius: 0;
}

.message-loader-text {
  color: transparent;
  background: linear-gradient(135deg, #fff, #454545, #fff);
  background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: shimmer 5s linear infinite;
}
